<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
<link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🌾 AgroLink</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <div class="navbar-nav ms-auto nav-buttons">

        <a href="/" class="nav-link">Home</a>

        <% if (user) { %>
          <span class="nav-user">Hi, <%= user.username %> (<%= user.role %>)</span>

          <% if (user.role === "farmer") { %>
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <a href="/add" class="nav-link">Add Product</a>
            <a href="/manage-orders" class="nav-link">Manage Orders</a>
          <% } %>

          <% if (user.role === "user") { %>
            <a href="/orders" class="nav-link">My Orders</a>
          <% } %>

          <a href="/logout" class="nav-link logout-link">Logout</a>
        <% } else { %>
          <a href="/login" class="nav-link">Login</a>
          <a href="/register" class="nav-link register-link">Register</a>
        <% } %>
            <% if (user && user.role === "admin") { %>

            <a href="/admin" class="nav-link">
              Admin Panel
            </a>

            <% } %>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">

  <h2 class="text-center mb-4">
    👨‍💼 Admin Dashboard
  </h2>

  <!-- USERS -->

  <div class="card p-3 mb-4 shadow">

    <h4>Total Users: <%= users.length %></h4>

  </div>

  <!-- PRODUCTS -->

  <div class="card p-3 mb-4 shadow">

    <h4>Total Products: <%= products.length %></h4>

  </div>

  <!-- ORDERS -->

  <div class="card p-3 shadow">

    <h4>Total Orders: <%= orders.length %></h4>

  </div>

</div>

</body>
</html>